links
    border 1px solid black
    width 100%

p
    width 500px
    height 600px
    border 1px solid black
    float left
    
side-bar
    width 200px
    height 600px
    border 1px solid black
    float right
